<footer>
    <nav class="pagination" role="navigation">
        {{#if prev}}
        <a class="page previous newer-posts" href="{{page_url prev}}">назад</a>
        {{/if}}
        {{#if pages.length}}
            <span class="page-number">Страница {{page}} из {{pages}}</span>
        {{/if}}
        {{#if next}}
        <a class="page next older-posts" href="{{page_url next}}">дальше</a>
        {{/if}}
    </nav>
</footer>
